
body {background-color:#F0F8FF; background-image: url(estrelas.png);}
a{color: orange;}

h1 {text-align:center; color:blue;}


p {font:20pt/10pt sans-serif; }

p {font-family:courier; color:#F0F8FF;}
p { font: bold italic 110% serif;}
img {width="300" height="400";}


h {color: #FFEBCD;}
h3 {color: #F0F8FF;
}